html{
    background:url(https://img.freepik.com/premium-photo/pink-balloons-floating-pink-pastel-background-birthday-party-new-year-concept-3d-model-illustration_307211-1081.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {

}
.header {
    grid-area: header;
    background-color: rgb(117, 158, 247);
    padding:1px;
    text-aline: center;
    font size:1px;
}

img{ 
height: 300px; 
width: 400px ;
}
h1 {
    text-align: center;
    font-family: fantasy;
    font-size-adjust: top 1500px;
}
#success{
    display:flex;
    flex-direction: column;
    font-size: larger
}

h3 {
    color: rgb(8, 11, 13);
    display: flex;
    flex-direction: column;
}

.nav{
    list-style-type: none;
    margin:0;
    padding:0;
    width:500px;
    background-color: gainsboro;
}

.container{
    display:grid | inline-grid;
    color:rgb(12, 10, 10);
    padding: 8px 16px;
    text-decoration: none;
    font-size: larger;
}
.nav li a:hover {
    background border-top: ;
    color:black;
    font-size: larger;

}
footer{
    grid-area: footer;
    background-color: rgb(117, 158, 247);
    padding: 10px;
    text-align: center;
}